//= require_tree .
//= require_self
$fa-font-path: "/assets/font-awesome/fonts";
@import 'font-awesome/font-awesome.scss';
@import "bootswatch-sass/readable/bootstrap.scss";
@import "bootstrap-social.css";


.navbar{
  border-radius: 0px;
  //margin-bottom: 0px;
}

.glyphicon{
  padding: 3px;
}

body, .container, .container-fluid{
  max-width: 100vw;
  word-wrap: break-word;
}

#app-container{
  padding-bottom: 30px;
}

.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-top-20{
  padding-top: 20px;
}
